@font-face {
  font-family: "MyFont";
  src: url("../fonts/MagicRed.ttf") format("truetype");
}

body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.centeredwithmargins {
  max-width: 1100px;
  color: #0f540d;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(190, 172, 139, 0.8);
  border: 2px;
  border-color: aliceblue;
  border-radius: 3px;
}

.navbar {
  background-color: #f1e5ce !important;
}

h2,
h1,
h3,
h4,
p {
  font-family: "MyFont";
  font-weight: bolder;
}

h1:hover,
h2:hover,
h3:hover,
p:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
  color: rgb(0, 0, 0);
  border: 1px;
  border-color: black;
}

.footer {
  background-color: #f1e5ce !important;
  padding: 15px 0;
}

.footer-brand img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#gridfounders {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #0f540d;
}

#store-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#store-items li {
  width: 12rem;
}

.btn-primary {
  background-color: #f1e5ce;
  border: none;
  color: black;
  padding: 10px 20px;
  transition: 0.3s ease;
  border-radius: 6px;
}

.btn-primary:hover {
  background-color: #cfc0a6;
  box-shadow: 0 0 10px rgba(244, 182, 194, 0.8);
  transform: scale(1.05);
}
